.filter-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.filter-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 13px;
}

.filter-card ul,
.filter-card .form-check-label {
    list-style-type: none;
    font-size: 13px;
    line-height: 13px;
    color: rgb(165, 172, 172);
    cursor: pointer;
}

.filter-card .form-check-input:focus {
    box-shadow: none;
    border-color: black;
}

.filter-card .form-check-input:checked {
    background-color: goldenrod;
}

.sub-title {
    font-size: 12px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
    margin-top: 20px;
}

.gap-10 {
    gap: 10px;
}

.colors {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.colors li {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.random-products h5 {
    font-size: 14px;
    margin-bottom: 8px;
}

.random-products:first-child {
    border-bottom: 1px solid #d3d3d3;
}

.filter-sort-grid {
    padding: 10px;
    background-color: rgb(240, 233, 221);
    border-radius: 10px;
}

.grid img {
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}