.product-card {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.product-card .product-image {
    height: 270px;
}

.product-card .product-image img {
    object-fit: contain;
}

.product-card .product-image img:last-child {
    display: none;
}

.product-card:hover .product-image img:nth-child(1) {
    display: none;
}

.product-card:hover .product-image img:last-child {
    display: block;
}

.product-card:hover .action-bar {
    right: 15px;
}

.product-card .product-details h6 {
    color: red;
    font-size: 13px;
}

.product-card .product-details h5 {
    color: rgb(57, 38, 38);
    font-size: 15px;
}

.product-card .product-details p.price {
    font-size: 16px;
    color: brown;
}

.action-bar {
    top: 10%;
    right: -23%;
    transition: 0.3s;
}

.wishlist-icon {
    top: 3%;
    right: 15px;
}